In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('salesforcourse-4fe2kehu.csv')

In [6]:
df.drop(columns='index',inplace=True)

In [7]:
df.columns

Index(['Date', 'Year', 'Month', 'Customer Age', 'Customer Gender', 'Country',
       'State', 'Product Category', 'Sub Category', 'Quantity', 'Unit Cost',
       'Unit Price', 'Cost', 'Revenue', 'Column1'],
      dtype='object')

In [11]:
df.duplicated().sum()

np.int64(0)

In [12]:
df.isnull().sum()

Date                    1
Year                    1
Month                   1
Customer Age            1
Customer Gender         1
Country                 1
State                   1
Product Category        1
Sub Category            1
Quantity                1
Unit Cost               1
Unit Price              1
Cost                    1
Revenue                 0
Column1             32293
dtype: int64

In [13]:
df.drop(columns='Column1',inplace=True)

In [16]:
df=df.dropna()

In [18]:
df.isnull().sum().sum()

np.int64(0)

In [19]:
df.to_csv('cleaned_sales.csv', index=False)